@{
    ViewData["Title"] = "Home Page";
}
<div style="background-color: rgb(226, 226, 226)">
    <div class="row">
        <div class="col-md-2 mx-auto" style="background-color: #ffffff">
            <table class="table">
                <tr>
                    <td class="text-center">
                        <img src="img/Awatar admina.png" alt="Obrazek" width="100" height="100">
                    </td>
                </tr>
                <tr>
                    <td class="p-0">
                        <div class="dropdown">
                            <button class="btn btn-light w-100 d-block dropdown-toggle" style="background-color: #cc0000; color: white; text-align: left;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="img/Document.png" width="20" style="display: inline-block; vertical-align: middle; margin-right: 10px;" />
                                <span style="display: inline-block; vertical-align: middle;">Homologacje</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Opcja 1</a>
                                <a class="dropdown-item" href="#">Opcja 2</a>
                                <a class="dropdown-item" href="#">Opcja 3</a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="p-0">
                        <button type="button" class="btn w-100 d-block" style="text-align: left;">
                            <img src="img/Graphic.png" width="20" style="display: inline-block; vertical-align: middle; margin-right: 10px;" />
                            <span style="display: inline-block; vertical-align: middle;">Analizatory spalin</span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="p-0">
                        <button type="button" class="btn w-100 d-block custom-btn" style="text-align: left;">
                            <img src="img/user-large 1.png" width="20" style="display: inline-block; vertical-align: middle; margin-right: 10px;" />
                            <span style="display: inline-block; vertical-align: middle;">Warsztaty</span>
                        </button>
                    </td>
                </tr>

                <tr>
                    <td class="p-0">
                        <button type="button" class="btn w-100 d-block" style="text-align: left;">
                            <img src="img/car 1.png" width="20" style="display: inline-block; vertical-align: middle; margin-right: 10px;" />
                            <span style="display: inline-block; vertical-align: middle;">Rejestr pojazdów</span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="p-0">
                        <button type="button" class="btn w-100 d-block" style="text-align: left;">
                            <img src="img/setting.png" width="20" style="display: inline-block; vertical-align: middle; margin-right: 10px;" />
                            <span style="display: inline-block; vertical-align: middle;">Zgłoszenia serwisowe</span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="p-0">
                        <button type="button" class="btn w-100 d-block" style="text-align: left;">
                            <img src="img/bell 1.png" width="20" style="display: inline-block; vertical-align: middle; margin-right: 10px;" />
                            <span style="display: inline-block; vertical-align: middle;">Ogłoszenia</span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="p-0">
                        <button type="button" class="btn w-100 d-block" style="text-align: left;">
                            <img src="img/Document.png" width="20" style="display: inline-block; vertical-align: middle; margin-right: 10px;" />
                            <span style="display: inline-block; vertical-align: middle;">Dokument</span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="p-0">
                        <button type="button" class="btn w-100 d-block" style="text-align: left;">
                            <img src="img/Document.png" width="20" style="display: inline-block; vertical-align: middle; margin-right: 10px;" />
                            <span style="display: inline-block; vertical-align: middle;">Słownik</span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="p-0">
                        <div class="dropdown">
                            <button class="btn btn-light w-100 d-block dropdown-toggle" style="background-color: #ffffff; color: white; text-align: left;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="img/setting-account.png" width="20" style="display: inline-block; vertical-align: middle; margin-right: 10px;" />
                                <span style="display: inline-block; vertical-align: middle; color: black">Administracja</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Opcja 1</a>
                                <a class="dropdown-item" href="#">Opcja 2</a>
                                <a class="dropdown-item" href="#">Opcja 3</a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="height: 150px;">

                    </td>
                </tr>
                <tr>
                    <td style="margin-top: 50px;">
                        <button type="button" class="btn w-100 d-blok" style="background-color: #233968; color: white"> POWRÓT </button>

                    </td>
                </tr>
            </table>

        </div>
        <div class="col-md-10 p-5" style="background-color: #ffffff">
            <h1 class="mb-3" style="font-size: 24px; line-height: 1;">Panel główny</h1>
            <table>
                <tr>
                    <td style="padding-right: 10px;">
                        <button type="button" style="width: 340px; height: 193px; border: none; border-radius: 10px; background-color: #EEEEEE; text-align: left; color: #233968; font-size: 24px;">homplogacje do sprawdzenia</button>
                    </td>
                    <td style="padding-right: 10px;">
                        <button type="button" style="width: 340px; height: 193px; border: none; border-radius: 10px; background-color: #EEEEEE; text-align: left; color: #233968; font-size: 24px;">analizatory spalin</button>
                    </td>
                    <td>
                        <button type="button" style="width: 340px; height: 193px; border: none; border-radius: 10px; background-color: #EEEEEE; text-align: left; color: #233968; font-size: 24px;">warztaty</button>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>